@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: $body-bg;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	scroll-behavior: smooth;
}

p {
	max-width: 35vw;
	margin-bottom: 2rem;
	font-size: 1.3rem;
	letter-spacing: 1px;
	line-height: 1.7;
	font-family: 'Space Mono', monospace;
	color: $p-color;
}

strong {
	color: $str-color;
	font-weight: 400;
}

h1 {
	letter-spacing: 5px;
	margin-bottom: 3rem;
	color: $h1-color;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 40px;
}

h3 {
	letter-spacing: 1px;
	color: $h3-color;
	font-family: 'Space Mono', monospace;
	font-weight: bold;
	font-size: 17px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	transition: color 200ms ease-in-out;

	&:hover {
		color: $hover-color;
	}
}

.contain {
	margin: 15rem 12.5rem;
	display: flex;
	flex-direction: column;
}

.right {
	align-items: flex-end;

	p {
		text-align: right;
	}
}

.a-bordered {
	letter-spacing: 1px;
	width: fit-content;
	padding: 0.8rem 2rem;
	border: 1px solid $p-color;
	border-radius: 2rem;
	color: $link;
	transition: border-color 100ms ease-in-out;

	&:hover {
		border-color: $hover-color;
	}
}

.sec-1 {
	margin-top: 10rem !important;
	h1 {
		font-size: 55px;
		font-family: 'Ledger', serif;
		font-weight: 400;
	}
}

.list-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	border-left: 1px solid $grid-color;
	border-bottom: 1px solid $grid-color;
	margin-bottom: 2rem;
	text-align: center;

	li {
		width: 9rem;
		padding: 1rem;
		border-top: 1px solid $grid-color;
		border-right: 1px solid $grid-color;
		font-weight: 300;
		font-family: 'Space Mono', monospace;
		color: $str-color;
	}
}

.sec-3 {
	height: auto;
	.items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}

	.item {
		height: 19rem;
		width: 19.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1.8rem;
		border-radius: 6px;
		box-shadow: 1px 1px 0.8rem rgba(27, 27, 27, 0.265);
		margin-bottom: 3rem;
		background-color: $item-color;
	}

	p {
		margin-top: 2rem;
		font-size: 0.9rem;
		font-family: 'Lato', sans-serif;
		color: $p3-color;
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $p2-color;
		letter-spacing: 0.5px;

		ul {
			display: flex;
			width: 9rem;
			font-size: 12px;
			font-weight: 400;
		}

		li {
			padding-right: 0.5rem;
		}
	}
}

.sec-4 {
	align-items: center;

	ul {
		display: flex;
	}

	li {
		padding: 1rem;
		color: $str-color;
	}

	.email {
		margin-top: 2.5rem;
	}
}

.footer {
	text-align: center;
	letter-spacing: 0px;
	font-size: 0.8rem;
	color: $hover-color;
	padding-bottom: 2rem;
}
