nav {
	height: 9vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding-top: 2rem !important;
	padding: 0 5rem;

	ul {
		width: 20rem;
		display: flex;
		justify-content: space-between;
	}

	li {
		color: $h1-color;
	}
}

.hide {
	display: none;
}

.hamburger {
	display: none;

	span {
		background: white;
		width: 23px;
		height: 2px;
		transition: all 200ms ease;

		&:not(:last-child) {
			margin-bottom: 5.2px;
		}
	}
}
