$body-bg: #2f2f48;
$h1-color: #d0dbee;
$h3-color: #afa146;
$p3-color: #c4d0e6;
// $p-color: #badc84;
$p-color: #bad889;
$p2-color: #8fbeaf;
$str-color: #eb795a;
$link: #8fbeaf;
$grid-color: #afa146;
$item-color: #34344e;
$hover-color: #0073ff;
